.blogs {
  display: flex;
  margin: 0;
}

.blog {
  width: 300px;
  overflow: hidden;
  border-radius: 6px;
  background-color: $primary-100;
  box-shadow: 0 1px 6px rgba($shadow-color, 0.2);
  transition: 0.15s ease-out;

  &:not(:last-child) {
    margin-right: 12px;
  }

  &:hover {
    box-shadow: 0 1px 8px 6px rgba($shadow-color, 0.2);
    transition: 0.15s ease-out;
  }
}

.blog__link {
  display: block;
  color: $text-50;

  &:hover {
    text-decoration: none;
  }
}

.blog__thumbnail {
  width: 100%;
  height: 120px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $secondary-400; // fallback
}

.blog__meta {
  padding: 6px 8px;
  box-sizing: border-box;
}

h3.blog__title {
  margin: 4px auto 6px;
  font-size: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.blog__date {
  color: $text-100;
  font-size: 14px;
}

.blog__date-icon {
  margin-right: 4px;
}
