.page {
  margin: 28px auto;
  padding: 28px;
  max-width: 700px;
  font-size: 21px;
  box-sizing: border-box;
  border-radius: 6px;
  background-color: $primary-200;
  box-shadow: 0 3px 28px rgba($shadow-color, 0.2);

  h1, h2, h3, h4, h5, h6 {
    &:not(.not-special-font) {
      font-family: 'Pacifico';
    }
  }

  h2, h3, h4, h5, h6 {
    margin: 0.35em 0;
  }

  @media screen and (max-width: 700px) {
    font-size: 18px;
    padding: 18px;
    margin: 12px;
  }
}

.page__header {
  display: flex;
  align-items: center;
}

.page__avatar {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin-right: 18px;
  background-color: $secondary-400;
  box-shadow: 0 1px 6px rgba($shadow-color, 0.2);

  @media screen and (max-width: 700px) {
    width: 120px;
    height: 120px;
  }
}

.page__title {
  font-size: 46px;
  margin-bottom: 0;

  @media screen and (max-width: 700px) {
    font-size: 32px;
  }
}

.page__excerpt {
  margin: 8px 0;
}

.page__separetar {
  // TODO: Add reset in _reset.scss
  border: none;
  background-color: transparent;
  padding: 0;

  display: block;
  box-sizing: border-box;
  border-top: 8px dotted $text-100;
  margin: 18px 0;
}

.section {
  margin-bottom: 18px;

  @media screen and (max-width: 700px) {
    margin-bottom: 12px;
  }
}
