.page {
  width: 600px;
  font-size: 21px;
  padding: 28px;
  box-sizing: border-box;

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Pacifico';
  }

  h2, h3, h4, h5, h6 {
    margin: 0.25em 0 0.25em;
  }

  p {
    margin-bottom: 18px;
  }

  @media screen and (min-width: 631px) {
    margin-left: 300px;
  }
}

.page__header {
  display: flex;
  align-items: center;
}

.page__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 18px;
  background-color: $dark-text-color;
}

.page__title {
  font-size: 46px;
  margin-bottom: 0;
}

.page__excerpt {
  font-size: 21px;
  margin: 8px 0;
}

.page__separetar {
  // TODO: Add reset in _reset.scss
  border: none;
  background-color: transparent;
  padding: 0;

  display: block;
  box-sizing: border-box;
  border-top: 6px dotted $text-color;
  margin: 18px 0;
}
