.introduction {
  width: 600px;
  padding: 18px 24px;
  margin: auto;
  // border: 8px solid rgba(255, 255, 255, 0.3);
  // background-color: rgba(255, 255, 255, 0.1);
}

.introduction-header {
  display: flex;
  margin-bottom: 18px;
}

.introduction-header__avatar {
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: 24px;

  & > img {
    width: 168px;
    height: auto;
  }
}

.introduction-header__meta {
  flex-grow: 1;
  margin: auto;
}

.introduction-header__name {
  font-size: 64px;
  font-weight: bold;
  line-height: 1.2;
}

.introduction-header__alias {
  font-size: 36px;
  line-height: 1.2;
}

.introduction-content {
  font-size: 18px;

  h2 {
    & > i {
      margin-right: 0.25em;
    }
  }

  p {
    margin-bottom: 1em;
  }

  ul {
    list-style-type: disc;
    list-style-position: inside;
  }
}
