.letterhead {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 0px;
  background-color: $secondary-color;

  @media screen and (max-width: 630px) {
    position: static;
    height: 30px;
    width: 100%;
  }

  @media screen and (min-width: 631px) {
    width: 30px
  }

  @media screen and (min-width: 901px) {
    width: 300px
  }
}
