.links__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  list-style: none;
}

.links__list-item {
  flex: 0 0 calc(50% - 6px);
  margin-bottom: 12px;
  border-radius: 6px;
  overflow: hidden;
  background-color: $primary-100;
  box-shadow: 0 1px 6px rgba($shadow-color, 0.2);
  transition: 0.15s ease-out;

  &:hover {
    box-shadow: 0 1px 8px 6px rgba($shadow-color, 0.2);
    transition: 0.15s ease-out;
  }

  &:nth-child(even) {
    margin-left: 12px;
  }

  @media screen and (max-width: 700px) {
    flex-basis: 100%;

    &:nth-child(even) {
      margin-left: 0;
    }
  }
}

.link-button {
  cursor: pointer;
  display: flex;
  color: $text-50;
  box-sizing: border-box;
  align-items: center;

  &:hover {
    text-decoration: none;
  }
}

.link-button__fa-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  margin-right: 12px;
  padding: 6px;
}

.link-button__fa {
  font-size: 28px;
}

.link-button__text {
  // padding: 6px 12px;
}

.link-button__name {
  margin: 0;
  line-height: 1;
  font-size: 16px;
}

.link-button__label {
  font-size: 14px;
  color: $text-25;
}
