.medium-post {
  overflow: hidden;
  border-radius: 6px;
  background-color: $primary-100;
  box-shadow: 0 1px 6px rgba($shadow-color, 0.2);
  transition: 0.15s ease-out;

  &:hover {
    box-shadow: 0 1px 8px 6px rgba($shadow-color, 0.2);
    transition: 0.15s ease-out;
  }

  &:not(:last-child) {
    margin-bottom: 18px;
  }
}

.medium-post__link {
  display: flex;
  color: $text-50;

  &:hover {
    text-decoration: none;
  }
}

.medium-post__thumbnail {
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: 18px;
  width: 120px;
  height: 120px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $secondary-400; // fallback
}

.medium-post__meta {
  flex-grow: 1;
  flex-shrink: 0;
  padding: 8px 0;
  box-sizing: border-box;
}

.medium-post__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 600px - (120px + 18px);
}

.medium-post__date {
  color: $text-100;
  font-size: 18px;
}

.medium-post__date-icon {
  font-size: 0.8em;
  margin-right: 4px;
}
