.social-accounts__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 28px;
}

.social-accounts__list-item {
  flex: 0 0 50%;

  @media screen and (max-width: 630px) {
    flex-basis: 100%;
  }
}

.social-account-button__link {
  cursor: pointer;
  display: flex;
  padding: 4px 8px;
  box-sizing: border-box;
  align-items: center;
  border-radius: 6px;
  background-color: transparent;
  transition: 0.15s ease-out;

  &:hover {
    background-color: $darker-primary-color;
    text-decoration: none;
    transition: 0.15s ease-out;
  }
}

.social-account-button__fa-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  margin-right: 8px;
}

.social-account-button__fa {
  font-size: 28px;
}
