.social-accounts {
  border-radius: 6px;
}

.social-accounts__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.social-accounts__list-item {
  flex: 0 0 calc(50% - 6px);
  margin-bottom: 12px;
  border-radius: 6px;
  background-color: $primary-100;
  box-shadow: 0 1px 6px rgba($shadow-color, 0.2);
  transition: 0.15s ease-out;

  &:hover {
    box-shadow: 0 1px 8px 6px rgba($shadow-color, 0.2);
    transition: 0.15s ease-out;
  }

  &:nth-child(even) {
    margin-left: 12px;
  }

  @media screen and (max-width: 700px) {
    flex-basis: 100%;

    &:nth-child(even) {
      margin-left: 0;
    }
  }
}

.social-account-button__link {
  cursor: pointer;
  display: flex;
  color: $text-50;
  padding: 6px 12px;
  box-sizing: border-box;
  align-items: center;

  &:hover {
    text-decoration: none;
  }
}

.social-account-button__fa-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  margin-right: 8px;
}

.social-account-button__fa {
  font-size: 28px;
}
