.social {
  width: 600px;
  display: flex;
  flex-wrap: wrap;
}

.social-button__link {
  cursor: pointer;
  display: flex;
  width: 300px;
  align-items: center;
}

.social-button__fa {
  font-size: 28px;
  margin-right: 8px;
}
