.waifu-card {
  display: flex;

  &:nth-child(even) {
    .waifu-card__meta {
      order: 1;
      text-align: right;
    }

    .waifu-card__avatar {
      order: 2;
      margin-right: 0;
      margin-left: 24px;
    }
  }
}

.waifu-card__avatar {
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: 18px;

  & > img {
    width: 180px;
    box-sizing: border-box;
    border: 6px solid #ffffff;
    transform: rotate(-9deg);
    box-shadow: -1px 1px 2.5px rgba(0, 0, 0, 0.16);
  }
}

.waifu-card__meta {
  flex-grow: 1;
  padding: 8px 0;
}
