body {
  font-weight: 400;
  line-height: 1.6;
  font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-feature-settings: "kern";
  text-rendering: optimizelegibility;
  text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
}

h1 {
  font-size: 32px;
  font-weight: 600;
}

h2 {
  font-size: 24px;
  font-weight: 600;
}

h3 {
  font-size: 20px;
  font-weight: 600;
}

h4 {
  font-size: 16px;
  font-weight: 600;
}

h5 {
  font-size: 14px;
  font-weight: 600;
}

h6 {
  font-size: 12px;
  font-weight: 600;
}

a, .link-button {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

::selection {
  background-color: rgba(0, 0, 0, 0.25);
}

::-moz-selection {
  background-color: rgba(0, 0, 0, 0.25);
}

.invisible {
  display: none;
}

.button {
  cursor: pointer;
  display: block;
  box-shadow: none;
  border-color: transparent;
  font-family: inherit;
}
