body {
  color: $text-50;
  background-color: $secondary-400;
  font-weight: 400;
  line-height: 1.6;
  font-family: "PT Sans","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-feature-settings: "kern";
  text-rendering: optimizelegibility;
  text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
}

h1, h2, h3, h4, h5, h6 {
  &:not(.not-special-font) {
    font-family: 'Pacifico';
  }
}

h2, h3, h4, h5, h6 {
  margin: 0.35em 0;
}

h1 {
  font-size: 32px;
  font-weight: 600;
}

h2 {
  font-size: 28px;
  font-weight: 600;
}

h3 {
  font-size: 24px;
  font-weight: 600;
}

h4 {
  font-size: 21px;
  font-weight: 600;
}

h5 {
  font-size: 18px;
  font-weight: 600;
}

h6 {
  font-size: 16px;
  font-weight: 600;
}

a, .link-button {
  color: $text-100;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

ul {
  list-style-type: disc;
  list-style-position: outside;
  margin-left: 28px;
}

// ::selection {
//   color: $primary-color;
//   background-color: $text-color;
// }

// ::-moz-selection {
//   color: $primary-color;
//   background-color: $text-color;
// }

.invisible {
  display: none;
}

.unselectable {
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.unclickable {
  cursor: not-allowed;
  pointer-events : none;
}

.button {
  cursor: pointer;
  display: block;
  box-shadow: none;
  border-color: transparent;
  font-family: inherit;
}
