$primary-200: hsl(66%, 65%, 91%);

$primary-100: lighten($primary-200, 3%);
$primary-50: lighten($primary-200, 8%);
$primary-300: darken($primary-200, 8%);
$primary-400: darken($primary-200, 12%);

$secondary-400: hsl(185%, 30%, 36%);

$text-50: hsl(65%, 11%, 39%);
$text-25: lighten($text-50, 20%);
$text-100: hsl(90%, 6%, 24%);

$space-small: 8px;
$space-middle: 16px;
$space-large: 24px;

$shadow-color: black;
